
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />




<!doctype html>
<html lang="en">
<head>
    <title>Kayıt Ol</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href=" https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href=" ~/Views/Register/https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Views/Register/css/style.css">
    <script nonce="4f7f3935-4b23-4009-a385-376d8825dec3">(function(w,d){!function(dK,dL,dM,dN){dK[dM]=dK[dM]||{};dK[dM].executed=[];dK.zaraz={deferred:[],listeners:[]};dK.zaraz.q=[];dK.zaraz._f=function(dO){return function(){var dP=Array.prototype.slice.call(arguments);dK.zaraz.q.push({m:dO,a:dP})}};for(const dQ of["track","set","debug"])dK.zaraz[dQ]=dK.zaraz._f(dQ);dK.zaraz.init=()=>{var dR=dL.getElementsByTagName(dN)[0],dS=dL.createElement(dN),dT=dL.getElementsByTagName("title")[0];dT&&(dK[dM].t=dL.getElementsByTagName("title")[0].text);dK[dM].x=Math.random();dK[dM].w=dK.screen.width;dK[dM].h=dK.screen.height;dK[dM].j=dK.innerHeight;dK[dM].e=dK.innerWidth;dK[dM].l=dK.location.href;dK[dM].r=dL.referrer;dK[dM].k=dK.screen.colorDepth;dK[dM].n=dL.characterSet;dK[dM].o=(new Date).getTimezoneOffset();if(dK.dataLayer)for(const dX of Object.entries(Object.entries(dataLayer).reduce(((dY,dZ)=>({...dY[1],...dZ[1]})),{})))zaraz.set(dX[0],dX[1],{scope:"page"});dK[dM].q=[];for(;dK.zaraz.q.length;){const d_=dK.zaraz.q.shift();dK[dM].q.push(d_)}dS.defer=!0;for(const ea of[localStorage,sessionStorage])Object.keys(ea||{}).filter((ec=>ec.startsWith("_zaraz_"))).forEach((eb=>{try{dK[dM]["z_"+eb.slice(7)]=JSON.parse(ea.getItem(eb))}catch{dK[dM]["z_"+eb.slice(7)]=ea.getItem(eb)}}));dS.referrerPolicy="origin";dS.src="/cdn-cgi/zaraz/s.js?z="+btoa(encodeURIComponent(JSON.stringify(dK[dM])));dR.parentNode.insertBefore(dS,dR)};["complete","interactive"].includes(dL.readyState)?zaraz.init():dK.addEventListener("DOMContentLoaded",zaraz.init)}(w,d,"zarazData","script");})(window,document);</script>
</head>
<body class="img" style="background-image: url(images/bg.jpg);">
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section"></h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-7 col-lg-5">
                    <div class="login-wrap">
                        <h3 class="text-center mb-4">Yeni Hesap Oluştur</h3>
                        <form action="#" class="signup-form" method="post">
                            <div class="form-group mb-3">
                                <label class="label"> Name</label>
                                <input type="text" class="form-control" name="registerName" placeholder="Name">
                                <span class="icon fa fa-user-o"></span>
                            </div>
                            <div class="form-group mb-3">
                                <label class="label"> LastName</label>
                                <input type="text" class="form-control" name="resigterLastName" placeholder="Surname">
                                <span class="icon fa fa-user-o"></span>
                            </div>
                            <div class="form-group mb-3">
                                <label class="label">Email Address</label>
                                <input type="text" class="form-control" name="registerEmail" placeholder="Email">
                                <span class="icon fa fa-paper-plane-o"></span>
                            </div>
                            <div class="form-group mb-3">
                                <label class="label">Password</label>
                                <input id="password" type="password" class="form-control" name="registerPassword" placeholder="Password">
                                <span toggle="#password" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                <span class="icon fa fa-lock"></span>
                            </div>
                            
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary submit px-3">Kayıt Ol</button>
                      
                            </div>
                            <div><a href="/Login/LoginVerification" class="btn btn-danger"> Zaten Bir hesaba sahibim </a></div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src=" ~/Views/Register/js/jquery.min.js" ></script>
    <script src="~/Views/Register/js/popper.js"></script>
    <script src="~/Views/Register/js/bootstrap.min.js"></script>
    <script src="~/Views/Register/js/main.js"></script>
    <script defer src="https://static.cloudflareinsights.com/beacon.min.js/v52afc6f149f6479b8c77fa569edb01181681764108816" integrity="sha512-jGCTpDpBAYDGNYR5ztKt4BQPGef1P0giN6ZGVUi835kFF88FOmmn8jBQWNgrNd8g/Yu421NdgWhwQoaOPFflDw==" data-cf-beacon='{"rayId":"7d96af406c378eec","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2023.4.0","si":100}' crossorigin="anonymous"></script>
</body>
</html>
    <style>
        .row justify-content-center{
           
        }
    </style>